@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


.sidebar {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    /* transition: 0.7s; */
  }


  .close-icon{
    position: absolute;
    right: 15px;
    top: 15px;
  }



  .sidebar-div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }


  .sidebar-content{
    font-size: 2rem !important;
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 4rem !important;
  }



  @media only screen and (max-width: 500px) {
    .sidebar-content{
      font-size: 1.3rem !important;
    } 
  }